@media(max-width:991px) {
      .navbar-collapse {
            background: #111827;
            padding: 20px;
            border-radius: 15px;
            margin-top: 15px;

      }
      .nav-link {
            margin: 15px 0;

      }
}

@media(max-width:991px) {
      .hero {
            text-align: center;
            padding-top: 120px;
      }
      .hero-btns {
            justify-content: center;

      }
      .social-icons {
            justify-content: center;
            margin-bottom: 40px;

      }
      .hero-image {
            width: 320px;
            height: 320px;

      }
      .hero-title {
            font-size: 48px;

      }
      .typing {
            font-size: 26px;

      }
}

@media(max-width:576px) {
      .hero-title {
            font-size: 38px;

      }
      .typing {
            font-size: 22px;

      }
      .hero-image {
            width: 260px;
            height: 260px;

      }
      .hero-text {
            font-size: 16px;

      }
}

@media(max-width:991px) {
      .about {
            text-align: center;

      }
      .about-img {
            width: 300px;
            margin-bottom: 40px;

      }
      .info-card {
            margin-bottom: 20px;
      }
}

@media(max-width:576px) {
      .section-title h2 {
            font-size: 34px;

      }
      .about h3 {
            font-size: 28px;

      }
      .about-img {
            width: 250px;

      }
}

@media(max-width:992px) {
      .section-title h2 {
            font-size: 38px;

      }
      .service-card {
            padding: 35px 25px;

      }
}

@media(max-width:768px) {
      .services {
            padding: 90px 0;

      }
      .section-title h2 {
            font-size: 32px;

      }
      .section-title p {
            font-size: 15px;

      }
      .service-icon {
            width: 75px;
            height: 75px;
            font-size: 30px;
      }
      .service-card {
            padding: 30px 20px;
      }
}

@media(max-width:576px) {
      .section-title h2 {
            font-size: 28px;
      }
      .service-card {
            border-radius: 20px;
      }
      .service-btn {
            width: 100%;
            justify-content: center;
      }
}


@media(max-width:992px) {
      .resume-card {
            margin-bottom: 30px;
      }
}

@media(max-width:768px) {
      .resume-section {
            padding: 70px 0;
      }

      .resume-card {
            padding: 30px;
      }

      .timeline-item {
            padding-left: 30px;
      }

      .download-btn {
            width: 100%;
      }
}

@media(max-width:576px) {
      .resume-card {
            padding: 25px;
      }

      .resume-card h3 {

            font-size: 1.5rem;
      }

      .timeline-item h5 {
            font-size: 18px;
      }

      .year {
            font-size: 12px;
      }
}

@media(max-width:992px) {
      .testimonial-card {
            margin-bottom: 20px;
      }
}

@media(max-width:576px) {
      .testimonial-card {
            padding: 25px;
      }

      .testimonial-img {
            width: 80px;
            height: 80px;
      }

}